doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Affordable and professional web design')
    meta(name='keywords', content='web design, affordable web design, professional web design')
    meta(name='author', content='Brad Traversy')
    title Acme Web Deisgn | About
    link(rel='stylesheet', href='./css/style.css')
  body
    header
      .container
        #branding
          h1
            span.highlight Acme
            |  Web Design
        nav
          ul
            li
              a(href='/') Home
            li.current
              a(href='/about') About
            li
              a(href='/services') Services
    section#newsletter
      .container
        h1 Subscribe To Our Newsletter
        form
          input(type='email', placeholder='Enter Email...')
          button.button_1(type='submit') Subscribe
    section#main
      .container
        article#main-col
          h1.page-title About Us
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna. Nam eget eros non orci consectetur congue at ac augue. Proin eget arcu in enim feugiat ultricies. Curabitur maximus metus nec metus pretium viverra at et orci. Integer hendrerit ante ut placerat cursus.
          p.dark
            | Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor, vel ultrices dui tincidunt. Proin quis egestas lorem. Mauris vehicula lectus odio, sit amet dictum justo feugiat a. Praesent id dictum lacus. Sed ullamcorper id erat ut dictum. Fusce porttitor lorem sapien, in aliquet sapien convallis et. Donec nec mauris nulla. Curabitur cursus semper odio, et hendrerit ante. Nunc at cursus ante. Maecenas gravida ligula ut efficitur suscipit. Nulla id turpis varius, pretium nunc sed, fermentum sem. Sed lacinia nunc non interdum pellentesque.
        aside#sidebar
          .dark
            h3 What We Do
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna
    footer
      p Acme Web Deisgn, Copyright © 2017

