doctype html
html
  title MalluHub
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/aboutcss.css', <='', head='')
  body
    header
      .container
        #branding
          h1
            span.highlight Mallu
            | Hub
        nav
          ul
            li
              a(href='/index') Home
            li.current
              a(href='/about') About
            li
              a(href='#') Contact
    br
    br
    br
    .row
      .column
        .card
          img(src='./img/rohit.jpg', alt='Rohit', style='width:100%')
          .container
            h2 Rohit Narayanan
            p.title CEO & Founder
            p +91 884 848 7910
            p rohitnrynn@gmail.com
            p
              button.button Contact
      .column
        .card
          img(src='./img/rizwan.jpg', alt='rizwan', style='width:100%')
          .container
            h2 Rizwan T S
            p.title Art Director 
            p +91 701 247 6914
            p rizwan.fisat@gmail.com
            p
              button.button Contact
      .column
        .card
          img(src='./img/sanley.jpg', alt='sanley', style='width:100%')
          .container
            h2 Sanley P Oommen
            p.title Designer
            p +91 952 633 4023
            p sanleykuttu@gmail.com
            p
              button.button Contact
    .row
      .column
        .card
          img(src='./img/suryakanth.jpg', alt='Suryakanth', style='width:100%')
          .container
            h2 Suryakanth K R
            p.title CEO & Founder
            p +91 889 128 9260
            p suryakanthrajkumar@gmail.com
            p
              button.button Contact
      .column
        .card
          img(src='./img/visakh.jpg', alt='Visakh', style='width:100%')
          .container
            h2 Visakh Ajith
            p.title Art Director
            p +91 994 661 7843
            p vishakajith@gmail.com.com
            p
              button.button Contact

