doctype html
html(lang='ml')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Affordable and professional web design')
    meta(name='keywords', content='web design, affordable web design, professional web design')
    meta(name='author', content='Brad Traversy')
    title Mallu Hub | Welcome
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='./font/font-awesome/css/font-awesome.min.css')
  body
    header
      .container
        #branding
          h1
            span.highlight Mallu
            | Hub
        nav
          ul
            li.current
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/services') Services
    section#showcase
      .container
        h1  നമസ്കാരം 
        p Now lets learn some malayalam!!!!
        br
        br
        a.button_main(href='/temp1') Lets get started!!
    section#newsletter
      .container
        h1 Subscribe To Our Newsletter
        form
          input(type='email', placeholder='Enter Email...')
          button.button_1(type='submit') Subscribe
    section#boxes
      .container
        .box
          img(src='./img/logo_html.png')
          h3 HTML5 Markup
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies
        .box
          img(src='./img/logo_css.png')
          h3 CSS3 Styling
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies
        .box
          img(src='./img/logo_brush.png')
          h3 Graphic Design
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies
    footer
      p MalluHub, Copyright © 2017

