doctype html
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
// Optional theme
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
// Latest compiled and minified JavaScript
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
html
  title MalluHub
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://www.w3schools.com/lib/w3-theme-black.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    style.
      @font-face {
      font-family: 'Malayalam';
      src: url('../fonts/meera.eot');
      src: url('../fonts/meera.eot?#iefix') format('embedded-opentype'),
      url('../fonts/meera.woff') format('woff'),
      url('../fonts/meera.ttf') format('truetype'),
      url('../fonts/meera.svg#Malayalam') format('svg');
      font-weight: normal;
      font-style: normal;
      }
  body
    // Sidebar
    #mySidebar.w3-sidebar.w3-bar-block.w3-card-2.w3-animate-left(style='display:none')
      button.w3-bar-item.w3-button.w3-large(onclick='w3_close()') Close ×
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp1') Lesson1
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp2') Lesson 2
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp3') Lesson 3
      a.w3-bar-item.w3-button.w3-black(href='/temp4') Lesson 4
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp5') Lesson 5
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp6') Lesson 6
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp7') Lesson 7
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp8') Lesson 8
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp9') Lesson 9
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp10') Lesson 10
      a.w3-bar-item.w3-button.w3-hover-black(href='/temp11') Lesson 11
    // Navbar
    #main(zclass='w3-main')
      .w3-bar.w3-black
        button.w3-bar-item.w3-button.w3-teal(class='w3-mobile,w3-button w3-xlarge,', onclick='w3_open()') ☰
        span.w3-bar-item.w3-button.w3-mobile MalluHub
        a.w3-bar-item.w3-button.w3-mobile(href='#', style='text-decoration: none;') Home
        button.w3-bar-item.w3-button.w3-mobile(onclick="document.getElementById('id01').style.display='block'") Contact
      // Main content: shift it to the right by 250 pixels when the sidebar is visible
      .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
        .w3-row
          .w3-twothird.w3-container
            h1.w3-text-teal Chapter 7
            p
              font(size='5')
                | Malayalam letter:-
            p(align='center')
              font(size='8')
                | &#x0D0B
            p
              font(size='5')
                | Corresponding English translation:-
            p(align='center')
              font(size='6')
                | Irru
            p
              font(size='5')
                | Example:-
            p(align='center')
              font(size='6')
                | ഋഷി
            p
              font(size='5')
                | Malayalam translation:-
            p(align='center')
              font(size='6')
                | RISHI
            p
              font(size='5')
                | English translation:-
            p(align='center')
              font(size='6')
                | SWAMY
        .w3-row.w3-padding-64
          .w3-twothird.w3-container
            h1.w3-text-teal Chapter 8
            p
              font(size='5')
                | Malayalam letter:-
            p(align='center')
              font(size='8')
                | &#x0D0E
            p
              font(size='5')
                | Corresponding English translation:-
            p(align='center')
              font(size='6')
                | A
            p
              font(size='5')
                | Example:-
            p(align='center')
              font(size='6')
                | ‌എലി
            p
              font(size='5')
                | Malayalam translation
            p(align='center')
              font(size='6')
                | Aeli
            p
              font(size='5')
                | English translation:-
            p(align='center')
              font(size='6')
                | MOUSE
        .w3-row.w3-padding-64
          .w3-twothird.w3-container
            h1.w3-text-teal Chapter 9
            p
              font(size='5')
                | Malayalam letter:-
            p(align='center')
              font(size='8')
                | &#x0D0F
            p
              font(size='5')
                | Corresponding English translation:-
            p(align='center')
              font(size='6')
                | Ae
            p
              font(size='5')
                | Example:-
            p(align='center')
              font(size='6')
                | ‌ഏണി
            p
              font(size='5')
                | Malayalam translation
            p(align='center')
              font(size='6')
                | Aeny
            p
              font(size='5')
                | English translation:-
            p(align='center')
              font(size='6')
                | LADDER
        .w3-row.w3-padding-64
          .w3-twothird.w3-container
            h1.w3-text-teal Chapter 10
            p
              font(size='5')
                | Malayalam letter:-
            p(align='center')
              font(size='8')
                | &#x0D10
            p
              font(size='5')
                | Corresponding English translation:-
            p(align='center')
              font(size='6')
                | I
            p
              font(size='5')
                | Example:-
            p(align='center')
              font(size='6')
                | ‌ഐസ്ക്രീം
            p
              font(size='5')
                | Malayalam translation
            p(align='center')
              font(size='6')
                | Icecream
            p
              font(size='5')
                | English translation:-
            p(align='center')
              font(size='6')
                | ICECREAM
        // Pagination
        .w3-center.w3-padding-32
          .w3-bar
            a.w3-button.w3-hover-black(href='/temp1') 1
            a.w3-button.w3-hover-black(href='/temp2') 2
            a.w3-button.w3-hover-black(href='/temp3') 3
            a.w3-button.w3-black(href='/temp4') 4
            a.w3-button.w3-hover-black(href='/temp5') 5
            a.w3-button.w3-hover-black(href='/temp6') 6
            a.w3-button.w3-hover-black(href='/temp7') 7
            a.w3-button.w3-hover-black(href='/temp8') 8
            a.w3-button.w3-hover-black(href='/temp9') 9
            a.w3-button.w3-hover-black(href='/temp10') 10
            a.w3-button.w3-hover-black(href='/temp11') 11
        footer#myFooter
          .w3-container.w3-theme-l2.w3-padding-32
            h4 Footer
          .w3-container.w3-theme-l1
            p
              | Powered by 
              a(href='https://www.w3schools.com/w3css/default.asp', target='_blank') w3.css
        // END MAIN
      script.
        function w3_open() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
        }
      #id01.w3-modal
        .w3-modal-content.w3-card-4.w3-animate-zoom(style='max-width:600px')
          .w3-center
            br
            span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') ×
            h1 Contact Form
            form.w3-container(action='/action_page.php')
              .w3-section
                label
                  b
                input.w3-input.w3-border.w3-margin-bottom.w3-card-2(type='text', placeholder='Enter Name', name='usrname', required='')
                label
                  b
                input.w3-input.w3-border.w3-card-2.w3-margin-bottom(type='Email address', placeholder='Email address', name='psw', required='')
                label
                  b
                input.w3-input.w3-border.w3-card-2.w3-margin-bottom(type='Subject', placeholder='Subject', name='psw', required='')
                label
                  b
                input.w3-input.w3-border.w3-card-2.w3-margin-bottom(type='Message', placeholder='Message', name='psw', required='')
                button.w3-button.w3-block.w3-green.w3-section.w3-padding(onclick="document.getElementById('id01').style.display='none'", type='submit') Submit
            .w3-container.w3-border-top.w3-padding-16.w3-light-grey
              button.w3-button.w3-red(onclick="document.getElementById('id01').style.display='none'", type='button') Cancel

